@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}
.icon-plus{
    mask-image: url(plus.svg);
    -webkit-mask-image: url(plus.svg);
}
.icon-business{
    mask-image: url(business.svg);
    -webkit-mask-image: url(business.svg);
}
.icon-earth{
    mask-image: url(earth.svg);
    -webkit-mask-image: url(earth.svg);
}
.icon-notification{
    mask-image: url(notification.svg);
    -webkit-mask-image: url(notification.svg);
}
.icon-calendar{
    mask-image: url(calendar.svg);
    -webkit-mask-image: url(calendar.svg);
}
.icon-cashFill{
    mask-image: url(cashFill.svg);
    -webkit-mask-image: url(cashFill.svg);
}
.icon-checks_line{
    mask-image: url(checks_line.svg);
    -webkit-mask-image: url(checks_line.svg);
}
.icon-star{
    mask-image: url(star.svg);
    -webkit-mask-image: url(star.svg);
}
.icon-home{
    mask-image: url(home.svg);
    -webkit-mask-image: url(home.svg);
}
.icon-users{
    mask-image: url(users.svg);
    -webkit-mask-image: url(users.svg);
}
.chart_decrease{
    mask-image: url(chart_decrease.svg);
    -webkit-mask-image: url(chart_decrease.svg);
}
.icon-user{
    mask-image: url(user.svg);
    -webkit-mask-image: url(user.svg);
}
.icon-arrow{
    mask-image: url(arrow.svg);
    -webkit-mask-image: url(arrow.svg);
}
.icon-photo_album{
    mask-image: url(photo_album.svg);
    -webkit-mask-image: url(photo_album.svg);
}
.icon-ai_fill{
    mask-image: url(ai_fill.svg);
    -webkit-mask-image: url(ai_fill.svg);
}
.icon-target_fill{
    mask-image: url(target_fill.svg);
    -webkit-mask-image: url(target_fill.svg);
}
.icon-search_fill{
    mask-image: url(search_fill.svg);
    -webkit-mask-image: url(search_fill.svg);
}
.icon-heart_hand_fill{
    mask-image: url(heart_hand_fill.svg);
    -webkit-mask-image: url(heart_hand_fill.svg);
}
.icon-palette_fill{
    mask-image: url(palette_fill.svg);
    -webkit-mask-image: url(palette_fill.svg);
}
.icon-pdf_fill{
    mask-image: url(pdf_fill.svg);
    -webkit-mask-image: url(pdf_fill.svg);
}
.icon-close{
    mask-image: url(close.svg);
    -webkit-mask-image: url(close.svg);
}
.icon-doc_fill{
    mask-image: url(doc_fill.svg);
    -webkit-mask-image: url(doc_fill.svg);
}
.icon-document-fill{
    mask-image: url(document_2_fill.svg);
    -webkit-mask-image: url(document_2_fill.svg);
}
.icon-W{
    mask-image: url(w.svg);
    -webkit-mask-image: url(w.svg);
}
.icon-file_fill{
    mask-image: url(file_fill.svg);
    -webkit-mask-image: url(file_fill.svg);
}
.icon-earth_2_fill{
    mask-image: url(earth_2_fill.svg);
    -webkit-mask-image: url(earth_2_fill.svg);
}
.icon-send_fill{
    mask-image: url(send.svg);
    -webkit-mask-image: url(send.svg);

}
.icon-pencil_2_fill{
    mask-image: url(pencil_2_fill.svg);
    -webkit-mask-image: url(pencil_2_fill.svg);
}
.icon-bell_ringing_fill{
    mask-image: url(bell_ringing_fill.svg);
    -webkit-mask-image: url(bell_ringing_fill.svg);
}
.icon-message_2_fill{
    mask-image: url(message_2_fill.svg);
    -webkit-mask-image: url(message_2_fill.svg);
}
.icon-question_fill{
    mask-image: url(question_fill.svg);
    -webkit-mask-image: url(question_fill.svg);
}
.icon-profile_fill{
    mask-image: url(profile_fill.svg);
    -webkit-mask-image: url(profile_fill.svg);
}
.icon-user-fill{
    mask-image: url(userFill.svg);
    -webkit-mask-image: url(userFill.svg);
}
.icon-setting{
    mask-image: url(setting.svg);
    -webkit-mask-image: url(setting.svg);
}
.icon-download{
    mask-image: url(download.svg);
    -webkit-mask-image: url(download.svg);
}
.icon-walletFill{
    mask-image: url(walletFill.svg);
    -webkit-mask-image: url(walletFill.svg);
}
.icon-layout_left_line{
    mask-image: url(layout_left_line.svg);
    -webkit-mask-image: url(layout_left_line.svg);
}
.icon-attachment_line{
    mask-image: url(attachment_line.svg);
    -webkit-mask-image: url(attachment_line.svg);
}
.icon-mic{
    mask-image: url(mic.svg);
    -webkit-mask-image: url(mic.svg);
}
.icon-inputLine{
    mask-image: url(inputLine.svg);
    -webkit-mask-image: url(inputLine.svg);
}
.icon-chart_bar_fill{
    mask-image: url(chart_bar_fill.svg);
    -webkit-mask-image: url(chart_bar_fill.svg);
}
.icon-comment_2_fill{
    mask-image: url(comment_2_fill.svg);
    -webkit-mask-image: url(comment_2_fill.svg);
}
.icon-alarm_2_fill{
    mask-image: url(alarm_2_fill.svg);
    -webkit-mask-image: url(alarm_2_fill.svg);
}
.icon-calendar_fill{
    mask-image: url(calendar_fill.svg);
    -webkit-mask-image: url(calendar_fill.svg);
}
.icon-document_fill{
    mask-image: url(document_2_fill.svg);
    -webkit-mask-image: url(document_2_fill.svg);

}
.icon-settings_3_fill{
    mask-image: url(settings_3_fill.svg);
    -webkit-mask-image: url(settings_3_fill.svg);
}
.icon-time_line{
    mask-image: url(time_line.svg);
    -webkit-mask-image: url(time_line.svg);
}
.icon-chart_bar{
    mask-image: url(icon-chart_bar.svg);
    -webkit-mask-image: url(icon-chart_bar.svg);


}
.icon-chart_pie_2_fill{
    mask-image: url(chart_pie_2_fill.svg);
    -webkit-mask-image: url(chart_pie_2_fill.svg);
}
.icon-warning_line{
    mask-image: url(warning_line.svg);
    -webkit-mask-image: url(warning_line.svg);
}
.icon-bling_fill{
    mask-image: url(bling_fill.svg);
    -webkit-mask-image: url(bling_fill.svg);
}
.icon-share_forward{
    mask-image: url(share_forward.svg);
    -webkit-mask-image: url(share_forward.svg);

}
.icon-refresh{
    mask-image: url(refresh.svg);
    -webkit-mask-image: url(refresh.svg);
}
.icon-flag{
    mask-image: url(flag.svg);
    -webkit-mask-image: url(flag.svg);
}
.icon-time_fill{
    mask-image: url(time_fill.svg);
    -webkit-mask-image: url(time_fill.svg);
}
.icon-close_fill{
    mask-image: url(close_fill.svg);
    -webkit-mask-image: url(close_fill.svg);
}
.icon-check_fill{
    mask-image: url(check_fill.svg);
    -webkit-mask-image: url(check_fill.svg);
}
.icon-fire_fill{
    mask-image: url(fire_fill.svg);
    -webkit-mask-image: url(fire_fill.svg);
}
.icon-list_check{
    mask-image: url(list_check.svg);
    -webkit-mask-image: url(list_check.svg);
}
.icon-A{
    mask-image: url(A.svg);
    -webkit-mask-image: url(A.svg);
}
.icon-information{
    mask-image: url(information.svg);
    -webkit-mask-image: url(information.svg);
}
.icon-search_line{
    mask-image: url(search_line.svg);
    -webkit-mask-image: url(search_line.svg);
}
.icon-group{
    mask-image: url(group.svg);
    -webkit-mask-image: url(group.svg);
}
.icon-classify{
    mask-image: url(classify.svg);
    -webkit-mask-image: url(classify.svg);
}
.icon-close_circle{
    mask-image: url(close_circle.svg);
    -webkit-mask-image: url(close_circle.svg);
}
.icon-chat{
    mask-image: url(chat.svg);
    -webkit-mask-image: url(chat.svg);
}
.icon-warning_fill{
    mask-image: url(warning_fill.svg);
    -webkit-mask-image: url(warning_fill.svg);
}
.icon-document_fill2{
    mask-image: url(document_fill2.svg);
    -webkit-mask-image: url(document_fill2.svg);
}
.icon-star_line{
    mask-image: url(star_line.svg);
    -webkit-mask-image: url(star_line.svg);
}
.icon-share_forward_line{
    mask-image: url(share_forward_line.svg);
    -webkit-mask-image: url(share_forward_line.svg);
}
.icon-alert_fill{
    mask-image: url(alert_fill.svg);
    -webkit-mask-image: url(alert_fill.svg);
}
.icon-check_2_fill{
    mask-image: url(check_2_fill.svg);
    -webkit-mask-image: url(check_2_fill.svg);
}
.icon-copy_2_line{
    mask-image: url(copy_2_line.svg);
    -webkit-mask-image: url(copy_2_line.svg);
}
.icon-edit_3_line{
    mask-image: url(edit_3_line.svg);
    -webkit-mask-image: url(edit_3_line.svg);
}
.icon-delete_3_line{
    mask-image: url(delete_3_line.svg);
    -webkit-mask-image: url(delete_3_line.svg);
}
.icon-arrow_right_line{
    mask-image: url(arrow_right_line.svg);
    -webkit-mask-image: url(arrow_right_line.svg);
}